<div>
    <i>Please enter angle details</i>
    <table>
      <tr>
        <td>Alpha</td>
        <td> <input type="range" min="0" max="360" [(ngModel)]="data.alpha.Value"  (change)="parent.applyChangesOnTriggerFromChild()"/></td>
      </tr>
      <tr>
        <td>Beta</td>
        <td> <input type="range" min="0" max="360" [(ngModel)]="data.beta.Value"  (change)="parent.applyChangesOnTriggerFromChild()"/></td>
      </tr>
      <tr>
        <td>Gamma</td>
        <td> <input type="range" min="0" max="360" [(ngModel)]="data.gamma.Value"  (change)="parent.applyChangesOnTriggerFromChild()"/></td>
      </tr>
    </table>
    
</div>