<div>
    <div>
       Color&nbsp;
      <!--<span [ngStyle]="{'backgroundColor': 'rgb(' + data.red + ',' + data.green + ',' + data.blue + ')' }">&nbsp;</span>-->
      <input type="color" [(ngModel)]="data.Value"/>
    </div>
    <!--<div>
      <label>Red</label>
      <input type="range" min="0" max="255" [(ngModel)]="data.red"/>
    </div>
    <div>
      <label>Green</label>
      <input type="range" min="0" max="255"  [(ngModel)]="data.green"/>
    </div>
    <div>
      <label>Blue</label>
      <input type="range" min="0" max="255"  [(ngModel)]="data.blue"/>
    </div>-->
</div>